@charset "UTF-8";
/* --- base --- */
html{
   font-size: 62.5%;
}
*,*::before,*::after{
   box-sizing: border-box;
}
body{
   background: skyblue url('../images/bg.jpg') no-repeat fixed left bottom;
   background-size: cover;
   color: #fff;
   text-align: center;
   font-size: 1.4rem;
   font-family: 'Roboto',"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
/* --- parts --- */
.heading{
   display:inline-block;
   margin: 30px 0 15px;
   padding-bottom: 15px;
   letter-spacing: 2px;
   font-size: 4rem;
   position: relative;
}
.heading::before,
.heading::after{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   border-bottom: 1px solid #999;
}
.heading::before{
   bottom: 5px;
}
.text{
   margin: 30px 0;
   line-height: 2.5;
   font-size: 1.8rem;
}
/* --- header --- */
.header{
   padding: 150px 30px 50px;
   width: 100%;
}
.site-title-sub{
   margin:0 0 30px;
   letter-spacing:1px;
   font-size: 2.2rem;
}
.site-title{
   margin: 40px 0 50px;
   font-size: 5rem;
}
.site-desc{
   margin-bottom: 50px;
   color: inherit;
   font-size: 1.8rem;
}
.button{
   display: inline-block;
   width: 200px;
   padding: 15px;
   border-radius: 4px;
   background-color: #888;
   color: #fff;
   text-decoration: none;
   letter-spacing: 1px;
   font-size: 1.2rem;
   opacity: 0.9
}
.button:hover{
   opacity: 0.8;
}
.button-right{
   background-color:#f1b400 ;
}
.buttons .button{
   margin: 10px;
}
/* --- about --- */
.about{
   padding: 80px 30px;
   background-color: #fff;
   color: #333;
}
.about-text{
   margin: 30px 0;
   line-height: 2.5;
}
.inline-block{
   display: inline-block;
}
/* --- catalyst --- */
.catalyst{
   padding: 80px 0;
}
/* --- contact --- */
.contact{
   padding:80px 0 100px;
}
.contact-form{
   width: 50%;
   margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea{
   display: block;
   width: 100%;
   margin-bottom: 10px;
   padding:15px;
   border: 1px solid rgba(255,255,255);
   border-radius: 0;
   background-color: rgba(255,255,255,0.1);
   color: #fff;
}
.contact-form input[type=submit]{
   display: block;
   width: 25%;
   margin:40px auto 0;
   padding:15px;
   border: 1px solid rgba(255,255,255);
   border-radius: 5px;
   background-color: transparent;
   color: rgba(255, 255, 255);
   cursor: pointer;
}
.contact-form input[type=submit]:hover{
   background-color: rgba(255,255,255,0.05);
}
.contact-form textarea{
   height: 150px;
}
/* --- footer --- */
.footer{
   padding-bottom: 30px;
}
/* ----------------- 以下responsive ------------------- */
@media screen and (max-width:768px){
/* --- base ---    */
   .body{
      font-size: 1.3rem;
      background: #151515 url('../images/bg.jpg') no-repeat fixed left bottom;
   }
/* --- parts --- */
   .heading{
      font-size: 3.0rem;
   }
   .text{
      padding:0 20px;
   }
/* --- header ---    */
   .header{
      padding-top: 60px;
   }
   .site-title-sub::before,
   .site-title-sub::after {
     display: block;
     width: 80%;
     margin: 10px auto;
   }
   .site-title-sub{
      font-size: 1.7rem;
   }
   .site-title{
      margin-top:35px;
      font-size:5rem;
   }
   .button{
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      border-radius: 4px;
      background-color: #888;
      color: #fff;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 2.0rem;
      opacity: 0.9
   }
   .button:hover{
      opacity: 0.8;
   }
   .button-right{
      background-color:#f1b400 ;
   }
/* --- about ---    */
   .about-text{
      line-height: 1.8;
   }
/* --- contact ---    */
   .contact-form{
      width: 80%;
   }
   .contact{
      padding-bottom: 80px;
   }

}
